<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pizza">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Liste</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="panier">
      <ion-icon name="cart"></ion-icon>
      <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
      <ion-label>Panier</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin">
      <ion-icon name="people"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
